@font-face {
    font-family: 'Stardos Stencil';
    src: url('./fonts/StardosStencil-Bold.woff2') format('woff2'),
        url('./fonts/StardosStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stardos Stencil';
    src: url('./fonts/StardosStencil-Regular.woff2') format('woff2'),
        url('./fonts/StardosStencil-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --bg-color-dark: #232323;
    --bg-color-gray: #888888;
    --bg-color-gray-2: #5C5C5C;
    --text-color-light: #D2D2D2;
    --text-color-light-2: #E6E6E6;
    --logo-bg-color: rgba(136, 136, 136, 0.1);
    --header-top-position: 160px; 
}

html{
    font-size: clamp(
        0.75rem,
        0.65rem + 0.65vw,
        1.2rem
    );
}

body{
    background-color: #222;
    font-family: "Stardos Stencil", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.content-left,
.contnet-right{
    position: relative;
    position: relative;
    height: 100vh;
}

.content-left{
    background-image: url(./img/moon.jpg);
    background-size: cover;
    flex-basis: 35%;
}

.content-left .logo{
    background-color: var(--logo-bg-color);    
    padding: 1rem;
    

    width: 100%;

    position: absolute;
    top: var(--header-top-position);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;    
}

.logo svg{
    fill: var(--bg-color-gray);
    height: 6rem;
    width: 6rem;
    filter: drop-shadow(1px 1px 3px black);
}

.logo h1{
    color: var(--bg-color-gray);
    font-style: italic;
    font-size: 1.6rem;
    text-shadow: 0px 0px 3px black;
}






